# Notebooks e checkpoints
.ipynb_checkpoints/
*.ipynb

# Dados CSV e outputs temporários
*.csv
Dataset/
tmp_folder/

# Modelos e checkpoints pesados
*.pt
*.pth
*.ckpt

# Logs e arquivos de TensorBoard
*.log
logs/
new_logs/

# Arquivos do sistema
.DS_Store
*.swp

# Arquivos do VS Code
.vscode/

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do Jupyter
*.nbconvert.ipynb
s